.max {
    max-width : max-content;
}

#languages-search{
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    border-bottom-width: 1px;
    border-bottom-color: #434343;
    color : black;
}

#languages-search:focus{
    border-bottom-color: #02C6D6 ;
    border-bottom-width: 2px;
}


.custom-font{
    font-family: 'Montserrat', sans-serif;
    font-size: calc(25px + 1.8vw);
    font-weight : 600 ;
    max-width: max-content;
}

.custom-2-font {
    font-family: 'Montserrat', sans-serif;
    font-size: calc(15px + 0.5vw);
    line-height: (10px + 1vw);
    font-weight : 400 ;
}

#sort-by {
    background-color: #E7E7E7;
}

.text-black {
    color:black;
}

.all-card-title {
    background: -webkit-gradient(linear, left top, right top, from(#02C6D6), to(#037FD5));
    background: linear-gradient(to right, #02C6D6 0%, #037FD5 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.all-card {
    max-width : 250px;
    height : 300px;;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    transition: 0.3s;
}

@media only screen and (min-width: 600px) {
    .all-card {
        max-width : 313px;
        height : 354px;;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
        transition: 0.3s;
    }
}

.all-card:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.custom-3-font {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight : 400 ;
    color : #434343 ;
    max-width: max-content;
}

.culture {
    border-radius: 45px;
    border-width: 1.6px;
    color : black ;
}

.culture:hover {
    color : black ;
    background-color: #f3f3f3;
}

.custom-4-font {
    font-family: 'Montserrat', sans-serif;
    font-size: calc(19px + 0.6vw);
    font-weight : 300 ;
    max-width: max-content;

}

.language {
    border-radius: 45px;
    border-width: 1.6px;
    background: -webkit-gradient(linear, left top, right top, from(#02C6D6), to(#037FD5));
    background: linear-gradient(to right, #02C6D6 0%, #037FD5 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}