.heading-font {
    font-family: 'Montserrat', sans-serif;
    font-size: calc(30px + 2.2vw);
    line-height: (35px + 2vw);
    font-weight : 700 ;
    max-width: min-content;
}

.text-2-font {
    font-family: 'Montserrat', sans-serif;
    font-size: calc(13px + 0.5vw);
    line-height: (10px + 1vw);
    font-weight : 400 ;
}

.button-font{
    font-family: 'Montserrat', sans-serif;
    font-size: calc(17px + 0.55vw);
    font-weight : 500 ;
    max-width: max-content;
}

.button-2-font{
    font-family: 'Montserrat', sans-serif;
    font-size: calc(21px + 0.55vw);
    font-weight : 600 ;
    max-width: max-content;
}

.subheading-font{
    font-family: 'Montserrat', sans-serif;
    font-size: calc(25px + 2vw);
    font-weight : 500 ;
    max-width: max-content;
}

.subheading-2-font{
    font-family: 'Montserrat', sans-serif;
    font-size: calc(20px + 1.3vw);
    font-weight : 500 ;
    max-width: max-content;
}


.subheading-3-font{
    font-family: 'Montserrat', sans-serif;
    font-size: calc(13px + 0.6vw);
    font-weight : 700 ;
    max-width: max-content;
}

.text-font {
    font-family: 'Montserrat', sans-serif;
    font-size: calc(11px + 0.5vw);
    font-weight : 300 ;
    max-width: max-content;

}