.heading-font {
    font-family: 'Montserrat', sans-serif;
    font-size: calc(30px + 2.2vw);
    line-height: (35px + 2vw);
    font-weight : 700 ;
    max-width: min-content;
}

.text-2-font {
    font-family: 'Montserrat', sans-serif;
    font-size: calc(13px + 0.5vw);
    line-height: (10px + 1vw);
    font-weight : 400 ;
}

.button-font{
    font-family: 'Montserrat', sans-serif;
    font-size: calc(17px + 0.55vw);
    font-weight : 500 ;
    max-width: max-content;
}

.subheading-font{
    font-family: 'Montserrat', sans-serif;
    font-size: calc(30px + 1.9vw);
    font-weight : 500 ;
    max-width: max-content;
}


.text-font {
    font-family: 'Montserrat', sans-serif;
    font-size: calc(11px + 0.5vw);
    font-weight : 300 ;
    max-width: 1000px ;
}